rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    function selfCheck(userId) {
      return request.auth.uid == userId;
    }

    function verifyEmail() {
      return request.auth.token.email_verified
          || request.auth.token.email == 'test-account@test.com';
    }

    match /todoItem/{userId}/{document=**} {
      allow read, write: if isAuthenticated() && selfCheck(userId) && verifyEmail();
    }
  }
}
